body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerset{
  font-weight: 700;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 2px;
  padding-bottom: 0px;
  text-align: center;
  color: rgba(255,255,255,0.9);
}

.Navbar{
  border-bottom: 2px solid rgba(0, 0, 0, 0.0);
  width: 6%;
}

.Navbar:hover{
color: rgba(255,255,255,1);
}

.bord{
  color: rgba(255,255,255,1);
  border-bottom: 2px solid #0492c2;
}

.leftBar{
  background: #2a3133;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 7px;
}

.leftBar > img {
  padding: 15px;
height : 100px;
width: 100px;


}

.leftBar > img:active {
animation: iconzoom 200ms 1;

}

@keyframes iconzoom {
      0%{
          transform: scale(1);
      }

      100%{
        transform: scale(3);
    }
}

.searchbox{
  z-index: 1;
  position:absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid rgba(255,255,255,0.7);
}

.rightmini{
  background: #2a3133;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 5px;
  width: 30%;
  height: auto;


}

.rightBar{
  background: #2a3133;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 7px;
  height: 90%;
}

.iconsleft{
  width: 150px;
  margin-right: -35px;
}

.iconsEach{
  margin-right: 5px;

}

.mainsidebar{
  background: #2a3133;
  height: 340px;
  width: 280px;
  z-index: 2;
  position: absolute;
  top: 45px;
  right: 15px;
  animation: downCard 300ms 1;
  border-radius: 2px;
}

@keyframes downCard {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }

}

.topsidebar{
  padding-right: 20px;

}

.midsidebar td{
  height: 35px;

}

.endsidebar{
  padding-left: 5px;
  padding-right: 30px;
  margin-top: 30px;
}

.midicons{
  padding-bottom: 10px;

}
.endicons{
    border-radius: 100%;
    font-size: 17px;
    height: 50px;
    width: 50px;
    border: .6px solid rgba(0,0,0,0.2);
    text-align: center;
    padding-top: 6px;

}
.mainpage{
  position: relative;
}
